<launch>
    <node pkg="my_dynamixel_workbench_test" type="turtlesim_dynamic" name="turtlesim_dynamic" output="screen"/>
    <!--    <rosparam file="$(find my_dynamixel_workbench_test)/cfg/dynamic.yaml" command="load" /> -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen" />
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" />
    <!--</node>-->
</launch>